<%- include('../partials/header') %>

<main class="main" id="main">
    <div class="container">
        <img src="https://media.tenor.com/WU_r--BFSWUAAAAM/404-404error.gif" alt="This page does not exist">
    </div>
</main>

<%- include('../partials/footer') %>